@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

$bg-light: #f6f7ff;
$bd-radius-sm: 6px;
$color-red-1: rgba(220, 24, 24, 0.1);
$color-blue-1: rgba(59, 73, 223, 0.1);